[flake8]
max-line-length = 119
exclude = .git,__pycache__,venv,.venv,build,dist
ignore =
    E203,  # whitespace before ':'
    W503,  # line break before binary operator
    C901,  # too complex
per-file-ignores =
    __init__.py:F401  # unused import in __init__